include ../mixins/sprite

mixin table_events(data)
    table.event-table(role="table")
        thead.event-table__head(role="rowgroup")
            tr.event-table__tr(role="row")
                each title in data.thead
                    th.event-table__th(role="columnheader")= title
        tbody(role="rowgroup")
            each row_item in data.trows
                tr(role="row")
                    each td_item, key in row_item
                        if key === "td_speakers"
                            td(class = td_item.length > 1 ? 'event-table__td event-table__td_speaker fl-col' : 'event-table__td event-table__td_speaker' role="cell")
                                each speaker in td_item
                                    .event-table__speaker
                                        img(src=`@img/jpg/${speaker.img}.jpg` alt=`${speaker.img}` loading="lazy" class='event-table__avatar')
                                        .event-table__speaker-info
                                            p.event-table__td-title=speaker.title
                                            p.event-table__subtitle!=speaker.sub_title
                        else if key === "td_icon"   
                            td.event-table__td.event-table__td_icon
                                div(class=`icon-box icon-box_${td_item.toLowerCase()}`)
                                    =td_item
                                    if td_item.toLowerCase() === "preview"
                                        +useSprite("icon-play", "icon-play")
                                    if td_item.toLowerCase() === "live"
                                        +useSprite("icon-camera", "icon-camera")
                                    if td_item.toLowerCase() === "upcoming"
                                        +useSprite("icon-clock", "icon-clock")
                        else
                            td(class = `event-table__td event-table__${key}` role="cell")= td_item